*{
    box-sizing: cover;
    color: black;
}


body{
    color:black;
    margin-bottom: 20rem;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    background: url("https://api.giphy.com/v1/gifs/search?api_key=fiwH9Jsh3wjA7Tg7WOM1EcePf4acTo5r&q=scary+the+ring&limit=25&offset=0&rating=r&lang=en");
   }

.picture{
    margin: 50rem;
    width: 100vw;
    height:100vh;
    color:black;
    display: grid;
}

#link{
    color: black;
    font-family: "lacquer";
    text-align: center;
    text-decoration: none;
}
